---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AlignConsecutiveShortCaseStatements:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
    AlignCaseColons: false
AllowShortBlocksOnASingleLine: true
...
